$grey: #7b797c;
$bgColor: #211e20;
$textColor: #fefcfe;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border: none;
    outline: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
input{
    border: none;
    outline: none;
}
::-webkit-scrollbar{
    width: 0px;
}
.gameInfoBackground{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .gameInfoBlock{
        width: 494px;
        background-color: #000;
        border: 2px solid $bgColor;
        border-radius: 15px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .closeGameInfo{
            width: 15px;
            position: absolute;
            margin-left: 445px;
            margin-top: -6px;
            cursor: pointer;
        }
        >span:nth-child(2){
            font-size: 1.6em;
            font-weight: 700;
            margin-bottom: 30px;
        }
        span:nth-child(6){
            margin: 10px 0;
        }
        .rate{
            font-size: 1.2em;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 30px;
            .starsRate{
                display: flex;
                height: 100%;
                align-items: flex-start;
                margin-left: 3px;
                padding-bottom: 8px;
                img{
                    width: 12px;
                    margin: 0 1px;
                }
            }
        }
        .download{
            width: 100%;
            height: 40px;
            background-color: rgb(0, 170, 0);
            border-radius: 8px;
            cursor: pointer;
            margin-top: 40px;
            color: white;
            font-size: 1.1em;
            border: 2px solid rgb(0, 150, 0);
        }
        .aboutGame{
            margin-top: 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span:first-child{
                font-size: 1.2em;
                color: white;
            }
            span{
                width: 400px;
                color: #c9c9c9;
                margin-top: 10px;
            }
        }
        .gameMomentsSlider{
            width: 450px;
            height: 250px;
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            padding: 0 15px;
            background-image: url("../img/ark.jpg");
            transition: 0.3s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .circle:first-child{
                img{
                    transform: rotate(180deg);
                }
            }
            .circle{
                width: 35px;
                height: 35px;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img{
                    width: 11px;
                }
            }
        }
    }
}
.addGameBackground{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .addGameBlock{
        width: 400px;
        background-color: #000;
        border: 2px solid $bgColor;
        border-radius: 15px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .instructionSpan{
            margin-top: 10px;
            color: #c9c9c9;
            font-weight: 700;
        }
        img:first-child{
            width: 15px;
            position: absolute;
            margin-left: 350px;
            margin-top: -6px;
            cursor: pointer;
        }
        span:nth-child(2){
            font-size: 1.5em;
            font-weight: 700;
            margin: 0;
            margin-bottom: 30px;
        }
        button{
            width: 100%;
            font-size: 1em;
            border-radius: 10px;
            height: 40px;
            background-color: $bgColor;
            border: 2px solid $grey;
            color: white;
            font-weight: 700;
            cursor: pointer;
            color: #b1b1b1;
            margin-top: 20px;
        }
        .dropFile{
            width: 100%;
            margin: 10px 0 10px 0;
            input{
                width: 356px;
                height: 100px;
                position: absolute;
                opacity: 0;
                z-index: 6;
                cursor: pointer;
            }
            .plusBox{
                width: 100%;
                height: 100px;
                border-radius: 10px;
                border: 2px solid $grey;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 5;
                img{
                    height: 50px;
                    width: 50px;
                    margin: 0;
                }
            }
        }
        .addGameInp{
            margin: 10px 0;
            height: 40px;
            background-color: #211e20;
            border: 2px solid $grey;
            padding-left: 10px;
            width: 100%;
            font-size: 1em;
            border-radius: 10px;
            padding-top: 2px;
            color: #b1b1b1;
            font-weight: 700;
        }
    }
}
.backgroundMask{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .logInScreen{
        width: 400px;
        background-color: #000;
        border: 2px solid $bgColor;
        border-radius: 15px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img:first-child{
            width: 15px;
            position: absolute;
            margin-left: 350px;
            margin-top: -6px;
            cursor: pointer;
        }
        img{
            width: 50px;
        }
        span{
            margin: 20px 0;
            font-size: 1.5em;
            font-weight: 700;
        }
        input{
            margin-bottom: 20px;
            height: 40px;
            background-color: #211e20;
            border: 2px solid $grey;
            padding-left: 10px;
            width: 100%;
            font-size: 1em;
            border-radius: 10px;
            padding-top: 2px;
            color: #b1b1b1;
            font-weight: 700;
        }
        input::placeholder{
            color: #b1b1b1;
        }
        button{
            width: 100%;
            font-size: 1em;
            border-radius: 10px;
            height: 40px;
            background-color: $bgColor;
            border: 2px solid $grey;
            color: white;
            font-weight: 700;
            cursor: pointer;
            color: #b1b1b1;
        }
        button:last-child{
            margin-top: 10px;
        }
    }
}
.wrap{
    min-height: 100vh;
    width: 100%;
    background-color: $bgColor;
    padding-bottom: 50px;
    header{
        width: 100%;
        height: 60px;
        background-color: $bgColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7%;
        .header__left{
            display: flex;
            align-items: center;
            .logo{
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            nav{
                margin-left: 20px;
                font-size: 1em;
                span{
                    color: $textColor;
                    margin: 0 15px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                span:nth-child(1){
                    font-weight: 700;
                }
                span:nth-child(2), span:last-child{
                    color: $grey;
                }
            }
        }
        .header__right{
            display: flex;
            align-items: center;
            .inputCotainer{
                display: flex;
                align-items: center;
                input{
                    border-radius: 15px;
                    padding-left: 15px;
                    width: 250px;
                    height: 30px;
                    color: $grey;
                    background-color: #39373a;
                    font-size: 0.95em;
                    font-weight: 500;
                    padding-bottom: 2px;
                }
                input::placeholder{
                    color: $grey;
                }
                img{
                    width: 15px;
                    position: relative;
                    left: -28px;
                    cursor: pointer;
                }
            }
            .avatar{
                cursor: pointer;
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            .loginDropDown{
                min-width: 100px;
                background-color: #211e20;
                border: 1px solid $grey;
                position: absolute;
                top: 60px;
                margin-left: 205px;
                z-index: 3;
                display: none;
                .option{
                    width: 100%;
                    padding: 5px 0px 5px 10px;
                    border-bottom: 1px solid $grey;
                    color: #b1b1b1;
                    cursor: pointer;
                }
                .option:last-child{
                    border: none;
                }
            }
            .loginDropDownActive{
                display: block;
            }
        }
    }
    .newsSlider{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .slider__line{
            position: absolute;
            display: flex;
            justify-content: center;
            left: calc(50% - 1162.5px);
            transition: left 0.5s;
            .slider__iteam{
                width: 750px;
                height: 450px;
                background-position: center;
                background-size: cover;
                border-radius: 5px;
                display: flex;
                align-items: flex-end;
                padding-bottom: 50px;
                padding-left: 50px;
                transition: 0.5s;
                margin: 0 12.5px;
                .imgText{
                    opacity: 0;
                    transition: 0.5s;
                    .title{
                        font-size: 1.6em;
                        letter-spacing: 0.5px;
                        color: $textColor;
                        margin-bottom: 10px;
                        text-shadow: 0 0 5px black;
                    }
                    span{
                        color: #c9c9c9;
                    }
                }
            }
            .slider__iteam:nth-child(2){
                background-image: url(../img/minecraft.jpg);
                border: 1px solid $grey;
                opacity: 1;
                .imgText{
                    opacity: 1;
                }
            }
            .slider__iteam:nth-child(1){
                background-image: url(../img/ark.jpg);
                opacity: 0.5;
            }
            .slider__iteam:nth-child(3){
                background-image: url(../img/gta.jpg);
                opacity: 0.5;
            }
        }
        .sliderInstrumentContainer{
            margin-top: 480px;
            width: 100%;
            display: flex;
            justify-content: center;
            .sliderInstrument{
                display: flex;
                align-items: center;
                img{
                    width: 13px;
                    cursor: pointer;
                    margin: 0 20px;
                }
                img:first-child{
                    transform: rotate(180deg);
                }
                .circle__border{
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .circle{
                        width: 6px;
                        height: 6px;
                        background-color: $grey;
                        border-radius: 50%;
                    }
                }
                .circle__border:nth-child(3){
                    border: 1px solid $textColor;
                    .circle{
                        background-color: $textColor;
                    }
                }
            }
        }
    }
    .category{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        button{
            min-width: 180px;
            height: 45px;
            background-color: $bgColor;
            border: 2px solid #000;
            border-radius: 8px;
            text-transform: uppercase;
            color: white;
            padding: 0 15px;
            margin: 0 10px;
            font-weight: 700;
            font-size: 0.92em;
            cursor: pointer;
        }
    }
    .gameCardsContainer{
        width: 100%;
        height: 355px;
        margin-top: 50px;
        padding: 0 7%;
        .sliderTitle{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                color: $textColor;
                font-size: 1.2em;
                letter-spacing: 1px;
            }
            .addGame{
                width: 165px;
                padding: 10px 10px;
                display: none;
                justify-content: space-between;
                cursor: pointer;
                img{
                    width: 25px;
                }
                span{
                    font-weight: 700;
                }
            }
            .instruments{
                display: flex;
                img:nth-child(1){
                    transform: rotate(180deg);
                    margin-right: 40px;
                }
                img{
                    width: 13px;
                    cursor: pointer;
                }
            }
        }
        .gameCardsSliderLine{
            display: flex;
            position: absolute;
            margin-top: 20px;
            left: 7%;
            transition: 0.3s;
            .gameCardsSliderLine__iteam{
                width: 219px;
                height: 280px;
                margin: 0 10px;
                background-color: $grey;
                background-position: center;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 30px;
                cursor: pointer;
                .gameInfo{
                    opacity: 0;
                    transition: 0.3s;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: rgba(0,0,0, 0.6);
                    padding: 5px 10px;
                    border-radius: 10px;
                    span{
                        color: #fefcfe;
                    }
                    span:first-child{
                        font-size: 1.2em;
                        margin-bottom: 5px;
                    }
                }
            }
            .gameCardsSliderLine__iteamA{
                margin: 0 10px 0 0px;
                background-image: url("https://www.minecraft.net/content/dam/games/minecraft/key-art/CC-Update-Part-II_600x360.jpg");
            }
            .gameCardsSliderLine__iteamB{
                background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/730/capsule_616x353.jpg?t=1641233427");
            }
            .gameCardsSliderLine__iteamC{
                background-image: url("https://image.api.playstation.com/cdn/EP0688/CUSA06782_00/zxZwy3elyVqWBmQqJcnS3Y1vTC3mv99f.png");
            }
            .gameCardsSliderLine__iteamD{
                background-image: url("https://images7.alphacoders.com/439/439636.jpg");
            }
            .gameCardsSliderLine__iteamE{
                background-image: url("https://images2.alphacoders.com/581/thumb-1920-581828.jpg");
            }
            .gameCardsSliderLine__iteamF{
                background-image: url("https://www.angrybirds.com/wp-content/uploads/2022/05/AB2_202202_800x800_KeyArt_GroupSplash_LogoUp-512x512.jpg");
            }
            .gameCardsSliderLine__iteamG{
                background-image: url("https://clashroyale.com/uploaded-images-blog/CR_facebook_share_02_180403_175322.jpg?mtime=20180403175322");
            }
            .gameCardsSliderLine__iteamH{
                margin: 0 0px 0 10px;
                background-image: url("https://i.ytimg.com/vi/CaryjOdYFa0/maxresdefault.jpg");
            }
        }
    }
}